//Taken from http://css-tricks.com/dont-overthink-it-grids/
@import "overflow-fix";
@import "box-sizing";

$pad = 10px;
@mixin grid-col($name, $width) {
	.#{$name} {
		float: left;;
		padding: 0;
		margin: 0;
		border: 0;
		width: $width;
	}
}
.grid {
	width: 100%;
	margin-bottom: 10px;
	&, div {
		@include box-sizing;
	}
	
	display: block;
	@include overflow-fix;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	@include grid-col(col1-8, 12.5%);
	@include grid-col(col1-4, 25%);
	@include grid-col(col1-3, 33.33%);
	@include grid-col(col3-8, 37.5%);
	@include grid-col(col1-2, 50%);
	@include grid-col(col5-8, 62.5%);
	@include grid-col(col2-3, 66.66%);
	@include grid-col(col3-4, 75%);
	@include grid-col(col7-8, 87.5%);
	.grid-inner {
		padding-right: $pad;
	}
	.last {
		margin-right: -2px;
		.grid-inner {
			padding-right: 0;
		}
	}
}