@mixin rounded($side, $radius: 10px) {
	border-#{$side}-radius: $radius;
	-moz-border-radius-#{$side}: $radius;
	-webkit-border-#{$side}-radius: $radius;
}
@mixin rounded-top($radius: 10px) {
	@include rounded(top-left, $radius);
	@include rounded(top-right, $radius);
}

@mixin rounded-top-left($radius: 10px) {
	@include rounded(top-left, $radius);
}
@mixin rounded-top-right($radius: 10px) {
	@include rounded(top-right, $radius);
}

@mixin rounded-left($radius: 10px) {
	@include rounded(bottom-left, $radius);
	@include rounded(top-left, $radius);
}
@mixin rounded-right($radius: 10px) {
	@include rounded(bottom-right, $radius);
	@include rounded(top-right, $radius);
}

@mixin rounded-bottom($radius: 10px) {
	@include rounded(bottom-left, $radius);
	@include rounded(bottom-right, $radius);
}
@mixin rounded-bottom-right($radius: 10px) {
	@include rounded(bottom-right, $radius);
}
@mixin rounded-bottom-left($radius: 10px) {
	@include rounded(bottom-left, $radius);
}

@mixin rounded-all($radius: 10px) {
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}