$shadow-padding: 5px;
$shadow-radius: 5px;
$shadow-color: #DDD;

@mixin box-shadow($x: $shadow-padding, $y: $shadow-padding, $radius: $shadow-radius, $color: $shadow-color, $inset: 0) {
	@if ($inset == 1) {
		$inset = unquote("inset");
	} @else {
		$inset = unquote("");
	}
	-moz-box-shadow: $inset $x $y $radius $color;
	-webkit-box-shadow: $inset $x $y $radius $color;
	box-shadow: $inset $x $y $radius $color;
}

@mixin box-shadow-inner($x: $shadow-padding, $y: $shadow-padding, $radius: $shadow-radius, $color: $shadow-color) {
	@include box-shadow($x, $y, $radius, $color, 1);
}
